.menuItem {
  display: flex;
  align-items: center;
  gap: var(--dimension-space-050);
  padding: var(--dimension-space-075);
  border: none;
  cursor: pointer;
  user-select: none;
  text-align: left;
  width: 100%;
  min-height: var(--dimension-size-400);
}

.menuItem:has(.subtext) { align-items: flex-start; }

.iconPrefix {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  color: var(--color-foreground-secondary);
}

.menuItemSelected .iconPrefix { color: var(--color-foreground-primary); }

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--dimension-space-025);
  min-width: 0;
}

.label { color: var(--color-foreground-secondary); }
.menuItem:has(.subtext) .label { color: var(--color-foreground-primary); }
.menuItemSelected .label { color: var(--color-foreground-primary) !important; }
.menuItemLabelTertiary .label, .menuItemLabelTertiary .iconPrefix { color: var(--color-foreground-tertiary); }
.menuItemNegative .label { color: var(--color-foreground-bold-negative) !important; }

.subtext { color: var(--color-foreground-secondary); line-height: 1.4; }

.menuItemInactive { opacity: 0.5; cursor: default; pointer-events: none; }

.toggleSuffix { flex-shrink: 0; display: flex; align-items: center; }

.toggle {
  width: calc(var(--dimension-size-400) + var(--dimension-size-050));
  height: var(--dimension-size-250);
  background-color: var(--color-background-translucent);
  border-radius: var(--dimension-radius-125);
  position: relative;
  transition: var(--effect-transition-interaction-background-short-2);
}

.toggleOn { background-color: var(--color-background-medium-brand); }

.toggleThumb {
  width: var(--dimension-size-200);
  height: var(--dimension-size-200);
  background-color: var(--color-foreground-on-bold-background-primary);
  border-radius: 50%;
  position: absolute;
  top: var(--dimension-space-025);
  left: var(--dimension-space-025);
  transition: transform var(--effect-motion-short-2);
}

.toggleOn .toggleThumb { transform: translateX(var(--dimension-offset-200)); }

.checkSuffix {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  color: var(--color-foreground-primary);
}

.chevronSuffix {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  color: var(--color-foreground-secondary);
}

.menuItemSelected .chevronSuffix { color: var(--color-foreground-primary); }
