:host {
  display: block;
  box-sizing: border-box;
  width: var(--_card-setting-width);
  max-width: 100%;
  border: none;
  border-radius: var(--dimension-radius-025);
  background-color: var(--color-background-primary);
  box-shadow: 0 0 0 var(--dimension-stroke-width-012) var(--color-border-tertiary);
  overflow: hidden;
}

:host(.card-setting--editing) {
  background-color: var(--color-background-bold-brand);
  box-shadow: 0 0 0 var(--dimension-stroke-width-025) var(--color-border-bold-brand);
}

.card-setting__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--dimension-space-100);
  height: var(--dimension-size-600);
  padding: var(--dimension-space-100);
  background-color: var(--color-background-secondary);
  border-bottom: var(--dimension-stroke-width-012) solid var(--color-border-tertiary);
  box-sizing: border-box;
}

:host(.card-setting--editing) .card-setting__header {
  background-color: transparent;
  border-bottom-color: transparent;
}

.card-setting__title-wrap {
  flex: 1 1 auto;
  min-width: 0;
  display: flex;
  align-items: center;
  padding: var(--dimension-space-075);
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}

.card-setting__title {
  display: inline-flex;
  align-items: center;
  min-width: 0;
  padding: var(--dimension-space-025);
}

.card-setting__actions {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: var(--dimension-space-100);
}

.card-setting__body {
  min-height: var(--dimension-card-width-sm);
  border-radius: 0 0 var(--dimension-radius-025) var(--dimension-radius-025);
  background-color: var(--color-background-primary);
}

:host(.card-setting--editing) .card-setting__body {
  border-radius: var(--dimension-radius-025);
}
