@import '../../utils/forced-colors.css';

:host {
  display: block;
  box-sizing: border-box;
  min-width: 0;
  padding: var(--dimension-space-100);
  border-block-end: var(--dimension-stroke-width-012) solid var(--color-border-tertiary);
}

.inline-banner-settings__content {
  padding-block: var(--dimension-space-050);
  padding-inline: var(--dimension-space-075);
}

ds-text.inline-banner-settings__description {
  overflow-wrap: anywhere;
  padding-inline: var(--dimension-space-025);
}

@media (forced-colors: active) {
  :host {
    border-block-end-color: var(--ds-forced-color-content);
  }
}
