:host {
  --_divider-color: var(--color-divider-divider);
  --_divider-inset: 0;
  --_divider-length: 100%;

  display: block;
  flex-shrink: 0;
  width: var(--_divider-length);
  height: var(--dimension-stroke-width-012);
  margin: 0 var(--_divider-inset);
  border: none;
  background-color: var(--_divider-color);
}

:host(.divider--vertical) {
  width: var(--dimension-stroke-width-012);
  height: var(--_divider-length);
  min-height: var(--dimension-stroke-width-012);
  margin: var(--_divider-inset) 0;
  align-self: stretch;
}

:host(.divider--vertical.divider--custom-length) {
  align-self: center;
}

:host([surface='on-bold-background']),
:host(.divider--surface-on-bold-background) {
  --_divider-color: var(--color-divider-on-bold-background);
}

:host([surface='on-strong-background']),
:host(.divider--surface-on-strong-background) {
  --_divider-color: var(--color-divider-on-strong-background);
}

:host([surface='on-medium-background']),
:host(.divider--surface-on-medium-background) {
  --_divider-color: var(--color-divider-on-medium-background);
}

:host([surface='on-translucent-background']),
:host(.divider--surface-on-translucent-background) {
  --_divider-color: var(--color-divider-on-translucent-background);
}

:host([surface='navigation']),
:host(.divider--surface-navigation) {
  --_divider-color: var(--color-navigation-divider);
}

:host([surface='media']),
:host(.divider--surface-media) {
  --_divider-color: var(--color-media-divider);
}

:host([surface='always-dark']),
:host(.divider--surface-always-dark) {
  --_divider-color: var(--color-always-dark-divider);
}

:host([surface='inverted']),
:host(.divider--surface-inverted) {
  --_divider-color: var(--color-inverted-divider);
}
