.select-search {
  position: relative;
  box-sizing: border-box;
  padding: var(--dimension-space-050);
  background: transparent;
}

.select-search::after {
  content: '';
  position: absolute;
  inset: auto 0 0;
  height: var(--dimension-stroke-width-012);
  background-color: var(--color-border-tertiary);
  pointer-events: none;
}

.select-search:focus-within::after {
  height: var(--dimension-stroke-width-018);
  background-color: var(--color-border-bold-brand);
}

.select-search--without-focus-boundary::after {
  display: none;
}

.select-search__control {
  display: flex;
  width: 100%;
  min-width: 0;
}
