:host {
  display: inline-flex;
  flex-shrink: 0;
  width: var(--dimension-size-400);
  height: var(--dimension-size-400);
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: var(--dimension-radius-half);
  box-shadow: inset 0 0 0 var(--dimension-stroke-width-012) var(--color-border-tertiary);
}
